/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Raleway:wght@400;700&display=swap');

/* main */

* {
   box-sizing: border-box;
}

body {
   align-items: center;
   background-color: rgba(16, 69, 79, 0.8);
   color: #BDE038;
   display: flex;
   height: 100vh;
   justify-content: center;
   flex-direction: column;
   font-family: 'Raleway', sans-serif;
   margin: 0;
   overflow: hidden;
}

.container {
   background-color: #10454F;
   /* background-color: rgba(0, 0, 0, 0.4); */
   border-radius: 5px;
   padding: 20px 40px;
}

.container h1 {
   margin-bottom: 30px;
   text-align: center;
}

.container a {
   color: #A3AB78;
   text-decoration: none;
}

.btn {
   background-color: #A3AB78;
   border: 0;
   border-radius: 5px;
   color: #10454F;
   cursor: pointer;
   display: inline-block;
   font-family: inherit;
   font-size: 18px;
   font-weight: 600;
   padding: 15px;
   width: 100%;
}

.btn:focus {
   outline: 0;
}

.btn:active {
   transform: scale(0.98);
}

.text {
   margin-top: 30px;
}

.form-control {
   margin: 20px 0 40px;
   position: relative;
   width: 300px;
}

.form-control input {
   background-color: transparent;
   border: 0;
   border-bottom: 2px #BDE038 solid;
   color: #BDE038;
   display: block;
   font-size: 18px;
   padding: 15px 0;
   width: 100%;
}

.form-control input:focus,
.form-control input:valid {
   border-bottom-color: #A3AB78;
   outline: 0;
}

.form-control label {
   left: 0;
   position: absolute;
   top: 15px;
}

.form-control label span {
   display: inline-block;
   font-size: 18px;
   min-width: 5px;
   transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
   color: #A3AB78;
   transform: translateY(-30px);
}